body {
	background: #FFFFEE;
	color: #666633;
	margin: 0;
}
h1{
	background: #6699AA;
	color: #CCFFFF;
	margin: 0;
	padding: 5px;
	font-size: 16pt;
}
p{
	color: #336699;
	font-seize:12pt;
	margin:10px;
}
table{
	margin:10px;
}